<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Error 404 || Page not Found</title>
     <link rel="stylesheet" href="error.css">
</head>
<body>
     
     <!-- Error Message -->
     <!-- <section class="errmsg">
          <div class="error-message" id="errorMessage">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="10"/>
              <line x1="12" y1="8" x2="12" y2="12"/>
              <line x1="12" y1="16" x2="12" y2="16"/>
              </svg>
              <p>Error 404 : Page Not Found</p>
              <p>Oops! Something went wrong. Please try again.</p>
         </div>
    </section> -->


    <!-- Update 404 -->

    <section class="updateError">
          <div class="errorImg"><img src="Group.png" alt="error"></div>
          <div class="errorMsgg">
               <div class="errorHead">Oh no. We lost this page</div>
               <div class="errorText">We searched everywhere but couldn’t find what  you’re looking for. Let’s find a better place for you to go.</div>
          </div>
          <a href="/Public/index.html" class="errorButton">Back to Homepage</a>
    </section>

</body>
</html>